html, head, body, header, footer, div, span
, h1, h2, h3, h4, p, ul, ol, li, table, tr, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

header, footer {
  margin: 0 auto;
  width: 480px;
}

table {
  border-collapse: collapse;
}

#icon-list {
  list-style: none;
}

#minesweeper {
  margin: 0 auto;
  width: 480px;
  height: 480px;
}

#mine-table {
  width: 480px;
  margin: 0 auto;
}
#mine-table.gameover td.cell.normal {
  background: #34495e !important;
}

td.cell {
  background: #31b404;
  border: solid 1px #61c434;
  text-align: center;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

td.normal:not(.flag):hover {
  background: #61c434;
}

td.opened {
  background: white;
}

td.flag {
  background: url(../../images/flag.png);
  background-size: cover;
}

td.mine {
  background: url(../../images/mine.png);
  background-size: cover;
}
