@charset "utf-8";
@import 'compass';
$color-ameba: #31B404;
$color-ameba-light: #61C434;
$color-white: #fff;
$color-dead: #34495e;
$app-size: 480px;
html,head,body,header,footer,div,span
,h1,h2,h3,h4,p,ul,ol,li,table,tr,th,td{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
header,footer{
	margin: 0 auto;
	width: $app-size;
}
table{
	border-collapse: collapse;
}
#icon-list{
	list-style: none;
}
#minesweeper{
	margin: 0 auto;
	width: $app-size;
	height: $app-size;
}
#mine-table{
	width: $app-size;
	margin: 0 auto;
	&.gameover{
		td.cell.normal{
			background: $color-dead !important;
			// border: solid 1px $color-red !important;
		}
	}
}
td.cell{
	background: $color-ameba;
	border: solid 1px $color-ameba-light;
	text-align: center;
	@include transition(background 0.1s linear);
}
td.normal{

	&:not(.flag):hover{
		background: $color-ameba-light;
	}
}
td.opened{
	background: white;
}
td.flag{
	background: url(../../images/flag.png);
	background-size: cover;

}
td.mine{
	background: url(../../images/mine.png);
	background-size: cover;
}
